*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: rgb(73, 36, 104);
}

div.banner{
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  justify-content: center;
  font-size:125%;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  background-color: rgb(255, 219, 77);
}


ul{
  display: flex;
  justify-content: center;
}

li{
  display: inline-block;
  width: 200px;
  font-size:150%;
  border: 5px solid rgb(255, 255, 255);
  line-height: 2em;
  text-align: center;

}

a{
  color: white;
  text-decoration: none;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
}

div.main-container{
  display: flex;
  justify-content: center;
}

div.previews{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  scale: 90%;
}
#digital-work,#physical-work,#animation-work{
  border: 4px white solid;

}
div.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
/*"about me" and "contacts" should have same layout*/
div.info{
  display: flex;
  text-align: center;
  font-size:200%;
  color: white;
  text-decoration: none;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
}

footer{
  background-color: rgb(47, 24, 66);
}

@media screen and (max-width: 550px){
  .nav{
    flex-direction: column;
  }
  .div.previews{
    flex-direction: column;
  }
  .div.gallery{
    flex-direction: column;
  }

}